---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro';
const { blok } = Astro.props

console.log(blok)

---
 
<Layout title="Exerra's mods" description="Every game mod Exerra has made resides here. That includes mods already published on other platforms & mods that (for whatever reason) aren't published anywhere else.">
  	<div {...storyblokEditable(blok)}> 
		{
			blok.body?.map((blok) => {
				return <StoryblokComponent blok={blok} />
			})
		}
  	</div>
</Layout>