---
import { SEO } from "astro-seo"

export interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<SEO 
			title={title}
			description={description ?? ""}
			twitter={{
				creator: "@Exerra"
			}}
			openGraph={{
				basic: {
					title: title == "Exerra's mods" ? title : `${title} | Exerra's mods`,
					image: image ?? "",
					type: "website"
				},
				optional: {
					description: description ?? "",
				},
				image: {
					alt: "Image for " + title
				}
			}}
			extend={{
				link: [{ rel: "icon", href: "https://cdn.exerra.xyz/png/pfp.png" }],
				meta: [
					{ name: "theme-color", content: "#FCF7F0" }
				]
			}}
		/>

	</head>
	<body class="bg-theme-100 mx-10 xl:mx-80">
		<nav class="flex justify-between items-center mx-auto py-8 w-full">
			<p class="font-bold text-xl">Exerra's mods</p>
			<div>
				<a href="/" class="font-bold">Home</a>
				<a href="/" class="ml-5 font-semibold text-black/60 hover:text-black/80 transition">Nexus</a>
			</div>
		</nav>
		<main>
			<slot />
		</main>
		<footer class="my-10 text-center">
			<p>&copy; Exerra</p>
		</footer>
	</body>
</html>